<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <h1>我曾经,如此渴望爱情</h1>
    <h1>{{name}}</h1>
    <form action="/post" method="POST">
        Name: <input type="text" name="name"> <br>
        Age: <input type="text" name="age"><br>
        <button type="submit">Submit</button>
    </form>
    <img src="/public/img/25.png" alt="LittleControl" width="600" height="400">
    <script src="/public/js/index.js"></script>
</body>
</html>