<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index">
</head>

<body>
    
    <h1>情若能自控，不知雨怅控</h1>
    <p><a href="www.littlecontrol.top"></a>www.littlecontrol.top</p>
    <img src="/public/img/index">
    {{each commits}} <p>Email:{{$value.email}}&nbsp;&nbsp;&nbsp;Password:{{$value.password}}</p>{{/each}}
    <script src="/public/js/index"></script>
</body>

</html>